// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    font-family: 'Nunito' !important;
}

.background-img {
    border: 1pt solid red;
    position: fixed;
    top: 0;
}
